<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title_email}">JiraRush - подтверждение почты</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{greeting(${user.firstName})}"></p>
<p th:text="#{confirmation_message}">Чтобы завершить настройку учетной записи и начать пользоваться JiraRush, подтвердите, что вы правильно указали вашу
    электронную почту.</p>
<a th:href="${confirmationUrl}" th:text="#{confirmation_email}">Подтвердить почту</a>
</body>
</html>